[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "2.2.2"
Werkzeug = "2.2.2"
Flask-Cors = "3.0.10"
kafka-python = "2.0.2"
jsonschema = "4.17.3"
requests = "2.24.0"
kubernetes = "25.3.0"

[requires]
python_version = "3.11"